@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-backface-visibility: hidden;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th, table td {
  vertical-align: top;
}

fieldset, img {
  border: 0;
}

em, strong, b, i {
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body, input, button, textarea {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  cursor: pointer;
}

html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

body {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

ul, ol {
  list-style-type: none;
}
ul li, ol li {
  list-style: none;
}

a, input, textarea, select {
  outline: 0;
  -webkit-appearance: none;
  font-size: 100%;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  color: #1a1a1a;
}

::-webkit-input-placeholder {
  color: #cacaca;
}

input:-moz-placeholder {
  color: #cacaca;
}

.container {
  width: 100%;
  height: 100%;
  background: #f5f6f5;
  overflow: auto;
  -webkit-font-smoothing: none;
}

.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  height: 0;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none !important;
}

.loading {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  background: url("../img/loading.png") no-repeat center center;
  -webkit-animation: lrotate 3s linear infinite;
  animation: lrotate 3s linear infinite;
  z-index: 10000;
}

@keyframes lrotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.light-mask-layer, .mask-layer, .advanced-mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .7;
  z-index: 99;
}

.advanced-mask-layer {
  z-index: 10099;
}

.light-mask-layer {
  background: #FFFFFF;
}

.plugin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
  transition: all 0.3s linear;
}

.plugin-show {
  transform: translate3d(0, 0, 0);
}

.plugin-hide {
  transform: translate3d(100%, 0, 0);
}

.title {
  text-align: center;
  height: 45px;
  line-height: 44px;
  position: relative;
  background: #FFFFFF;
  border-bottom: 1px solid #cccccc;
}
.title .left-arrow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 46px;
}
.title .left-arrow:after {
  content: "";
  border: 1px solid transparent;
  border-right-color: #24aef2;
  border-bottom-color: #24aef2;
  display: inline-block;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.calendar {
  width: 100%;
  padding-bottom: 1.5rem;
  color: #555;
}
.calendar .calendar-item {
  padding: .5rem 0 1.5rem;
}
.calendar .month-title, .calendar .week, .calendar ul {
  padding: 0 .5rem;
}
.calendar .to-gray {
  background: #ededed;
}
.calendar .now {
  background: #24aef2;
  color: #ffffff;
}
.calendar .month-title {
  font-size: 1rem;
}
.calendar .week {
  padding: 3px 0;
  margin: 0 10px;
  background: lightblue;
  color: #333333;
  font-size: .8rem;
  text-align: center;
}
.calendar .week span {
  float: left;
  width: 14.2857%;
}
.calendar li {
  float: left;
  width: 14.2857%;
  height: 30px;
  line-height: 30px;
  font-size: .9rem;
  text-align: center;
}

.dialog {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  z-index: 10100;
}
.dialog .dialog-title {
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 1.2;
  padding: 10px;
  font-size: .9rem;
  background: lightblue;
}
.dialog .dialog-btn {
  display: flex;
  display: -webkit-flex;
}
.dialog .dialog-btn .btn {
  flex: 1;
  text-align: center;
  line-height: 40px;
  font-size: 1rem;
}
.dialog .dialog-btn .btn:first-of-type {
  border-right: 1px solid #ff0;
}

.index-banner {
  width: 100%;
  height: 140px;
  overflow: hidden;
}
.index-banner ul {
  height: 100%;
}
.index-banner li {
  float: left;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.index-body {
  border-bottom: 1px solid #ededed;
  padding-left: .9375rem;
  background: #ffffff;
}
.index-body span {
  float: left;
}
.index-body .index-item {
  overflow: hidden;
  border-bottom: 1px solid #ededed;
  height: 4.375rem;
  line-height: 4.375rem;
  position: relative;
  padding-left: 1rem;
}
.index-body .index-item:last-child:after {
  display: none;
}
.index-body .index-item:first-child {
  padding-right: 4rem;
}
.index-body .index-item:first-child span:nth-child(2) {
  color: #24aef2;
}
.index-body .index-item:first-child span:nth-child(3) {
  position: absolute;
  right: 0;
  height: 100%;
  width: 4rem;
  text-align: center;
  font-size: .9rem;
}
.index-body .index-item:after {
  content: "";
  border: 1px solid transparent;
  border-right-color: #24aef2;
  border-bottom-color: #24aef2;
  display: inline-block;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.index-body .index-item:after {
  float: right;
  margin: 1.8rem 10px 0 0;
}
.index-body .index-item:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ededed;
  top: 50%;
  left: .3rem;
  margin-top: -4px;
}
.index-body .index-item:last-child {
  border-bottom: none;
}
.index-body .index-title {
  font-size: .8rem;
  color: #555;
  width: 3rem;
}
.index-body input.index-value {
  border: none;
}
.index-body .index-value {
  font-size: 1.1rem;
  color: #555;
  width: 56%;
  height: 100%;
  padding-left: .5rem;
}

.index-button {
  width: 100%;
  background: #24aef2;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  color: #ffffff;
  margin: .7rem 0 2rem;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-backface-visibility: hidden;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th, table td {
  vertical-align: top;
}

fieldset, img {
  border: 0;
}

em, strong, b, i {
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body, input, button, textarea {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  cursor: pointer;
}

html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

body {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

ul, ol {
  list-style-type: none;
}
ul li, ol li {
  list-style: none;
}

a, input, textarea, select {
  outline: 0;
  -webkit-appearance: none;
  font-size: 100%;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  color: #1a1a1a;
}

::-webkit-input-placeholder {
  color: #cacaca;
}

input:-moz-placeholder {
  color: #cacaca;
}

.container {
  width: 100%;
  height: 100%;
  background: #f5f6f5;
  overflow: auto;
  -webkit-font-smoothing: none;
}

.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  height: 0;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none !important;
}

.loading {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  background: url("../img/loading.png") no-repeat center center;
  -webkit-animation: lrotate 3s linear infinite;
  animation: lrotate 3s linear infinite;
  z-index: 10000;
}

@keyframes lrotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.light-mask-layer, .mask-layer, .advanced-mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .7;
  z-index: 99;
}

.advanced-mask-layer {
  z-index: 10099;
}

.light-mask-layer {
  background: #FFFFFF;
}

.plugin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
  transition: all 0.3s linear;
}

.plugin-show {
  transform: translate3d(0, 0, 0);
}

.plugin-hide {
  transform: translate3d(100%, 0, 0);
}

.title {
  text-align: center;
  height: 45px;
  line-height: 44px;
  position: relative;
  background: #FFFFFF;
  border-bottom: 1px solid #cccccc;
}
.title .left-arrow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 46px;
}
.title .left-arrow:after {
  content: "";
  border: 1px solid transparent;
  border-right-color: #24aef2;
  border-bottom-color: #24aef2;
  display: inline-block;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.calendar {
  width: 100%;
  padding-bottom: 1.5rem;
  color: #555;
}
.calendar .calendar-item {
  padding: .5rem 0 1.5rem;
}
.calendar .month-title, .calendar .week, .calendar ul {
  padding: 0 .5rem;
}
.calendar .to-gray {
  background: #ededed;
}
.calendar .now {
  background: #24aef2;
  color: #ffffff;
}
.calendar .month-title {
  font-size: 1rem;
}
.calendar .week {
  padding: 3px 0;
  margin: 0 10px;
  background: lightblue;
  color: #333333;
  font-size: .8rem;
  text-align: center;
}
.calendar .week span {
  float: left;
  width: 14.2857%;
}
.calendar li {
  float: left;
  width: 14.2857%;
  height: 30px;
  line-height: 30px;
  font-size: .9rem;
  text-align: center;
}

.dialog {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  z-index: 10100;
}
.dialog .dialog-title {
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 1.2;
  padding: 10px;
  font-size: .9rem;
  background: lightblue;
}
.dialog .dialog-btn {
  display: flex;
  display: -webkit-flex;
}
.dialog .dialog-btn .btn {
  flex: 1;
  text-align: center;
  line-height: 40px;
  font-size: 1rem;
}
.dialog .dialog-btn .btn:first-of-type {
  border-right: 1px solid #ff0;
}

.change-date, .lists .list-item {
  border-bottom: 1px solid #cccccc;
}

.change-date {
  font-size: .8rem;
}
.change-date div {
  float: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.change-date span:after {
  content: "";
  border: 1px solid transparent;
  border-right-color: #24aef2;
  border-bottom-color: #24aef2;
  display: inline-block;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.list-wrap {
  position: absolute;
  top: 76px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}

.lists {
  background: #FFFFFF;
}
.lists .list-item {
  height: 90px;
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  font-size: .75rem;
}
.lists .list-item-img, .lists .list-item-info {
  float: left;
  height: 100%;
}
.lists .list-item-img {
  width: 70px;
}
.lists .list-item-img img {
  width: 100%;
  height: 100%;
}
.lists .hotel-name, .lists .hotel-score, .lists .hotel-range, .lists .hotel-address {
  line-height: 1.2;
}
.lists .list-item-info {
  flex: 1;
  padding-left: 10px;
}
.lists .hotel-name {
  color: #333;
}
.lists .hotel-score {
  color: orange;
}
.lists .hotel-price {
  font-size: 1.1rem;
  float: right;
}
.lists .hotel-price:after {
  content: "起";
  font-size: .6rem;
  vertical-align: baseline;
  color: #777;
}
.lists .hotel-range, .lists .hotel-address {
  color: #777;
}
.lists .distance {
  float: right;
}
.lists em {
  font-size: .6rem;
  border-radius: 1px;
  background: orange;
  color: #FFFFFF;
  padding: 1px;
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  margin: 0 3px;
  display: inline-block;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  z-index: 10001;
  width: 100%;
  border-top: 1px solid #24aef2;
  height: 45px;
  background: #FFFFFF;
  font-size: .9rem;
}
.bottom-bar li {
  float: left;
  width: 25%;
  border-top: 1px solid transparent;
  border-right: 1px solid #ededed;
  text-align: center;
  line-height: 44px;
}
.bottom-bar li:last-child {
  border-right: none;
}
.bottom-bar li:after {
  margin: 0 4px;
}
.bottom-bar li:after {
  content: "";
  border: 1px solid transparent;
  border-right-color: #555;
  border-bottom-color: #555;
  display: inline-block;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.bottom-bar li.high {
  border-top-color: #24aef2;
  color: #24aef2;
}
.bottom-bar li.high:after {
  content: "";
  border: 1px solid transparent;
  border-right-color: #24aef2;
  border-bottom-color: #24aef2;
  display: inline-block;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bottom-bar li.high:after {
  margin: 4px;
}

/*# sourceMappingURL=main.css.map */
