*{
	margin:0;
	padding:0;
}
.c-box{
	header{
		height:50px;
		background:#000;
		position:relative;
		a{
			position: absolute;
			left:0;
			top:6px;
		}
		h1{
			text-align:center;
			color:#fff; 
			font-size: 20px;
			font-weight: 800;
			line-height: 50px;
		}
	}
	.c-sec{
		div{
			padding: 0 32px;
			p{
				margin-top: 18px;
				height:40px;
				border:1px solid #5E83E1;
				line-height: 40px;
				border-radius: 5px;
				img{
					width:21px;
					height:23px;
					margin-top:3%;

				}
				input{
					height:35px;
					width: 88%;
					outline: none;
					border:none;
					text-indent: 0.5em;
					font-size: 14px;
					color:#5E83E1;
					&::-webkit-input-placeholder{color:#5E83E1;}
				}
			}

			ul{

				h3{
					font-size: 16px;
					height:35px;
					line-height: 35px;
				}

				li{
					margin-bottom: 18px;
					height:40px;
					border:2px solid #EEEEEE;
					border-radius: 5px;
					line-height:40px;
					
					input{
						height:35px;
						width: 96%;
						outline: none;
						border:none;
						font-size: 14px;
						font-weight: 200;
						text-indent: 0.5em;
						line-height: 35px;
					}
					&:nth-of-type(5){
						background:#eeeeee;
						font-size: 14px;
						text-indent: 0.5em;
						color:#9C9C9C;
						border: none;
						a{
							float:right;
							margin-right:10px;
							margin-top:3px;
						}
						img{
							margin-top: 12%;
							width: 15px;
							height: 20px;
						}
					}

					&:nth-of-type(6){
						border:none;
						position: relative;
						b{	
							position: absolute;
							left:26px;
							top:-3px;						 
						 	a{
						 		color:#7E9CE7;
						 	}
						}
						
						input{
							width:15px;
							height:15px;
							&::checked-webkit-input-checked{
								background:#5E83E1;
							}
						}
						input::-webkit-input-checked{
							background:#5E83E1;
						}
					}
				}
			}
			.btn{
				height:40px;
				background:#eeeeee;
				border-radius: 20px;
				font-size: 16px;
				text-align: center;
				line-height: 40px;
				margin-top:35%;
			}
		}
	}
}