/* line 1, order.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-backface-visibility: hidden; }

/* line 9, order.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

/* line 14, order.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 18, order.scss */
table th, table td {
  vertical-align: top; }

/* line 22, order.scss */
fieldset, img {
  border: 0; }

/* line 26, order.scss */
em, strong, b, i {
  font-style: normal;
  font-weight: normal; }

/* line 31, order.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 35, order.scss */
body, input, button, textarea {
  font-family: Helvetica, sans-serif; }

/* line 39, order.scss */
a {
  text-decoration: none;
  outline: none; }

/* line 44, order.scss */
a:hover {
  cursor: pointer; }

/* line 48, order.scss */
html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative; }

/* line 61, order.scss */
body {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; }

/* line 67, order.scss */
ul, ol {
  list-style-type: none; }

/* line 70, order.scss */
ul li, ol li {
  list-style: none; }

/* line 74, order.scss */
a, input, textarea, select {
  outline: 0;
  -webkit-appearance: none;
  font-size: 100%; }

/* line 80, order.scss */
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

/* line 85, order.scss */
a:active {
  color: #1a1a1a; }

/* line 89, order.scss */
::-webkit-input-placeholder {
  color: #cacaca; }

/* line 93, order.scss */
input:-moz-placeholder {
  color: #cacaca; }

/* line 97, order.scss */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  height: 0; }

/* line 102, order.scss */
.clearfix:after {
  clear: both; }

/* line 108, order.scss */
.container {
  width: 100%;
  height: 100%;
  background: #f5f6f5;
  overflow: hidden;
  position: relative;
  -webkit-font-smoothing: none; }

/* line 117, order.scss */
.order-page {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 46px;
  bottom: 0;
  padding-bottom: 45px; }

/* line 127, order.scss */
.title {
  text-align: center;
  line-height: 45px;
  background: #fff;
  border-bottom: 1px solid #ccc; }

/* line 134, order.scss */
.title .left-arrow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 46px; }

/*   title   */
/* line 143, order.scss */
.title .left-arrow:after {
  content: "";
  border: 1px solid transparent;
  border-right-color: #24aef2;
  border-bottom-color: #24aef2;
  display: inline-block;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

/* line 158, order.scss */
.change-date {
  font-size: .8rem;
  background: #fff; }

/* line 164, order.scss */
.change-date div {
  float: left;
  width: 50%;
  height: 35px;
  line-height: 35px;
  text-align: center; }

/* .change-date span:after {
  content: "";
  border: 1px solid transparent;
  border-right-color: #24aef2;
  border-bottom-color: #24aef2;
  display: inline-block;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); } */
/* line 184, order.scss */
.yy {
  position: relative;
  background: #fff; }

/* line 189, order.scss */
dl {
  height: 90px;
  padding: 12px;
  border-bottom: 1px solid #ccc; }
  /* line 194, order.scss */
  dl dd, dl dt {
    float: left;
    height: 100%; }
  /* line 199, order.scss */
  dl dt {
    margin-right: 12px; }
  /* line 203, order.scss */
  dl img {
    display: block;
    width: auto;
    height: 100%; }
  /* line 211, order.scss */
  dl dd h4 {
    line-height: 25px; }
  /* line 214, order.scss */
  dl dd .qian {
    color: #F98F29;
    font-weight: bold;
    float: left;
    margin-right: 10px; }
  /* line 220, order.scss */
  dl dd .danB {
    background: #F98F29;
    color: #fff;
    width: 45px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border-radius: 3px;
    float: left; }

/* line 234, order.scss */
.fill-area {
  width: 100%; }
  /* line 237, order.scss */
  .fill-area .room-count {
    width: 100%; }
    /* line 241, order.scss */
    .fill-area .room-count h2 {
      width: 100%;
      height: 45px;
      line-height: 45px;
      background: #F6F6F6;
      padding-left: 10px; }
    /* line 249, order.scss */
    .fill-area .room-count p {
      width: 100%;
      height: 46px;
      background: #fff;
      line-height: 46px;
      padding: 0 10px;
      position: relative;
      padding-right: 30px; }
      /* line 258, order.scss */
      .fill-area .room-count p:after {
        content: "";
        width: 8px;
        height: 8px;
        border-top: 1px solid #8ACEFD;
        border-right: 1px solid #8ACEFD;
        display: inline-block;
        -webkit-transform: rotate(45deg);
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -4px; }
      /* line 272, order.scss */
      .fill-area .room-count p:nth-of-type(1) {
        border-bottom: 1px solid #ccc; }
      /* line 276, order.scss */
      .fill-area .room-count p .right {
        float: right;
        text-align: right; }
  /* line 283, order.scss */
  .fill-area .customer-info {
    width: 100%; }
    /* line 287, order.scss */
    .fill-area .customer-info h2 {
      width: 100%;
      height: 45px;
      line-height: 45px;
      background: #F6F6F6;
      padding-left: 10px; }
    /* line 295, order.scss */
    .fill-area .customer-info p {
      width: 100%;
      height: 46px;
      background: #fff;
      line-height: 46px;
      padding: 0 10px;
      position: relative;
      padding-right: 30px; }
      /* line 304, order.scss */
      .fill-area .customer-info p:nth-of-type(2):after {
        content: "x";
        width: 15px;
        height: 15px;
        background: #000;
        opacity: 0.5;
        line-height: 15px;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 10px; }
      /* line 321, order.scss */
      .fill-area .customer-info p:nth-of-type(1) {
        border-bottom: 1px solid #ccc; }
      /* line 325, order.scss */
      .fill-area .customer-info p .left {
        display: inline-block;
        margin-right: 10px; }
      /* line 329, order.scss */
      .fill-area .customer-info p .right {
        margin-left: 20px;
        display: inline-block;
        outline: none;
        border: none; }

/* line 339, order.scss */
.phone-info {
  width: 100%; }
  /* line 343, order.scss */
  .phone-info h2 {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #F6F6F6;
    padding-left: 10px; }
  /* line 351, order.scss */
  .phone-info p {
    width: 100%;
    height: 46px;
    background: #fff;
    line-height: 46px;
    padding: 0 10px;
    position: relative;
    padding-right: 30px; }
    /* line 361, order.scss */
    .phone-info p:nth-of-type(2):after {
      content: "x";
      width: 15px;
      height: 15px;
      background: #000;
      opacity: 0.5;
      line-height: 15px;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: 10px; }
    /* line 378, order.scss */
    .phone-info p:nth-of-type(1) {
      border-bottom: 1px solid #ccc; }
    /* line 382, order.scss */
    .phone-info p .left {
      display: inline-block;
      margin-right: 10px; }
    /* line 386, order.scss */
    .phone-info p .right {
      margin-left: 20px;
      display: inline-block;
      outline: none;
      border: none; }

/* line 395, order.scss */
.warning {
  width: 100%;
  height: 124px;
  font-size: 9px;
  padding: 21px 9px; }
  /* line 401, order.scss */
  .warning h4 {
    color: #F24D49; }
  /* line 405, order.scss */
  .warning p {
    line-height: 19px; }

/* line 410, order.scss */
.sure_yd {
  width: 100%;
  height: 55px;
  color: #fff; }
  /* line 415, order.scss */
  .sure_yd .total_price {
    width: 70%;
    height: 55px;
    background: #174990;
    line-height: 55px;
    text-align: center;
    display: inline-block;
    float: left; }
  /* line 425, order.scss */
  .sure_yd .ydBtn {
    width: 30%;
    height: 55px;
    background: #23AEF1;
    display: inline-block;
    float: right;
    line-height: 55px;
    text-align: center; }

/* line 436, order.scss */
.plugin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
  transition: all 0.3s linear; }

/* line 446, order.scss */
.plugin-show {
  transform: translate3d(0, 0, 0); }

/* line 449, order.scss */
.plugin-hide {
  transform: translate3d(100%, 0, 0); }

/* line 452, order.scss */
.calendar {
  padding-bottom: 1.5rem;
  color: #555; }

/* line 455, order.scss */
.calendar .calendar-item {
  padding: .5rem 0 1.5rem; }

/* line 457, order.scss */
.calendar .month-title, .calendar .week, .calendar ul {
  padding: 0 .5rem; }

/* line 459, order.scss */
.calendar .to-gray {
  background: #ededed; }

/* line 461, order.scss */
.calendar .now {
  background: #24aef2;
  color: #ffffff; }

/* line 464, order.scss */
.calendar .month-title {
  font-size: 1rem; }

/* line 466, order.scss */
.calendar .week {
  padding: 3px 0;
  margin: 0 10px;
  background: lightblue;
  color: #333333;
  font-size: .8rem;
  text-align: center; }

/* line 473, order.scss */
.calendar .week span {
  float: left;
  width: 14.2857%; }

/* line 476, order.scss */
.calendar li {
  float: left;
  width: 14.2857%;
  height: 30px;
  line-height: 30px;
  font-size: .9rem;
  text-align: center; }

/* line 484, order.scss */
.detail-page .load-more {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #666;
  border-bottom: 1px solid #ccc;
  background: #fff; }

/* line 494, order.scss */
.room-detail {
  width: 100%;
  height: 369px;
  background: #fff;
  top: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99999999;
  display: none; }
  /* line 505, order.scss */
  .room-detail .yy {
    position: relative;
    padding: 10px; }
  /* line 510, order.scss */
  .room-detail .close {
    position: absolute;
    margin-top: 10px;
    top: 10px;
    right: 10px; }
  /* line 517, order.scss */
  .room-detail dl {
    height: 90px;
    padding: 12px;
    border-bottom: 1px solid #ccc; }
    /* line 522, order.scss */
    .room-detail dl dd, .room-detail dl dt {
      float: left;
      height: 100%; }
    /* line 527, order.scss */
    .room-detail dl dt {
      margin-right: 12px; }
    /* line 531, order.scss */
    .room-detail dl img {
      display: block;
      width: auto;
      height: 100%; }
    /* line 538, order.scss */
    .room-detail dl dd .qian {
      color: #F98F29;
      font-weight: bold; }
    /* line 542, order.scss */
    .room-detail dl dd .danB {
      background: #F98F29;
      color: #fff;
      width: 45px;
      height: 23px;
      line-height: 23px;
      text-align: center;
      border-radius: 3px; }
  /* line 554, order.scss */
  .room-detail ol {
    width: 100%;
    padding: 0 10px; }
    /* line 558, order.scss */
    .room-detail ol li {
      height: 40px;
      border-bottom: 1px solid #ccc;
      line-height: 40px;
      padding: 0 10px;
      position: relative; }
      /* line 565, order.scss */
      .room-detail ol li:before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #D7D7D7;
        display: inline-block;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -4px; }
      /* line 578, order.scss */
      .room-detail ol li .left {
        display: inline-block;
        float: left;
        margin-left: 20px; }
      /* line 584, order.scss */
      .room-detail ol li .right {
        float: right; }
  /* line 590, order.scss */
  .room-detail .yd {
    width: 100%;
    height: 54px;
    background: #23AEF1;
    margin-top: 5px;
    color: #fff;
    line-height: 54px;
    text-align: center;
    font-size: 18px; }

/* line 603, order.scss */
.light-mask-layer, .mask-layer, .advanced-mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .7;
  z-index: 99; }

/* line 613, order.scss */
.advanced-mask-layer {
  z-index: 10099; }

/* line 616, order.scss */
.light-mask-layer {
  background: #FFFFFF; }

/* line 619, order.scss */
.hide {
  display: none !important; }

/* line 622, order.scss */
.slideSelect {
  width: 100%;
  border-bottom: 1px solid #ccc;
  overflow: hidden; }
  /* line 627, order.scss */
  .slideSelect .slideTitle {
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    text-align: center; }
    /* line 635, order.scss */
    .slideSelect .slideTitle .right {
      position: absolute;
      padding: 0 5px;
      right: 20px; }
  /* line 642, order.scss */
  .slideSelect .slideContent {
    position: absolute;
    bottom: 0;
    height: 350px;
    width: 100%;
    z-index: 999;
    background: #fff; }
    /* line 651, order.scss */
    .slideSelect .slideContent ul li {
      line-height: 30px;
      padding: 0 10px; }

/* line 658, order.scss */
.none {
  display: none !important; }

/* line 662, order.scss */
.selected {
  color: #24aef2; }

/* line 666, order.scss */
.c-i {
  border-bottom: 1px solid #ccc; }

/*# sourceMappingURL=order.css.map */
