/* line 1, c-style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, c-style.scss */
.c-box header {
  height: 50px;
  background: #000;
  position: relative; }
  /* line 10, c-style.scss */
  .c-box header a {
    position: absolute;
    left: 0;
    top: 6px; }
  /* line 15, c-style.scss */
  .c-box header h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    line-height: 50px; }
/* line 24, c-style.scss */
.c-box .c-sec div {
  padding: 0 32px; }
  /* line 26, c-style.scss */
  .c-box .c-sec div p {
    margin-top: 18px;
    height: 40px;
    border: 1px solid #5E83E1;
    line-height: 40px;
    border-radius: 5px; }
    /* line 32, c-style.scss */
    .c-box .c-sec div p img {
      width: 20px;
      height: 20px;
      margin-top: 9px; }
    /* line 38, c-style.scss */
    .c-box .c-sec div p input {
      height: 35px;
      width: 88%;
      outline: none;
      border: none;
      text-indent: 0.5em;
      font-size: 14px;
      color: #5E83E1; }
      /* line 46, c-style.scss */
      .c-box .c-sec div p input::-webkit-input-placeholder {
        color: #5E83E1; }
  /* line 52, c-style.scss */
  .c-box .c-sec div ul h3 {
    font-size: 14px;
    height: 35px;
    line-height: 35px; }
  /* line 58, c-style.scss */
  .c-box .c-sec div ul li {
    margin-bottom: 18px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 40px;
    padding-left: 10px; }
    /* line 66, c-style.scss */
    .c-box .c-sec div ul li input {
      height: 35px;
      width: 96%;
      outline: none;
      border: none;
      font-size: 14px;
      font-weight: 200;
      text-indent: 0.5em;
      line-height: 35px; }
    /* line 76, c-style.scss */
    .c-box .c-sec div ul li:nth-of-type(5) {
      background: #eeeeee;
      font-size: 16px;
      text-indent: 2em;
      color: #9C9C9C;
      border: 1px solid transparent; }
      /* line 82, c-style.scss */
      .c-box .c-sec div ul li:nth-of-type(5) a {
        float: right;
        margin-right: 10px;
        margin-top: 3px; }
      /* line 87, c-style.scss */
      .c-box .c-sec div ul li:nth-of-type(5) .dir {
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-top: 7px; }
    /* line 94, c-style.scss */
    .c-box .c-sec div ul li:nth-of-type(6) {
      border: none;
      line-height: 40px; }
      /* line 97, c-style.scss */
      .c-box .c-sec div ul li:nth-of-type(6) b {
        padding-left: 10px;
        font-weight: normal; }
        /* line 100, c-style.scss */
        .c-box .c-sec div ul li:nth-of-type(6) b a {
          color: #7E9CE7; }
      /* line 106, c-style.scss */
      .c-box .c-sec div ul li:nth-of-type(6) input {
        width: 15px;
        height: 15px; }
  /* line 113, c-style.scss */
  .c-box .c-sec div .btn {
    height: 40px;
    background: #cccccc;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff; }

/*# sourceMappingURL=c-style.css.map */
